### 1. A tabela abaixo apresenta o faturamento de uma empresa nos primeiro trimestre do ano de 2018:

Mês | Faturamento
:---|:----------- 
Janeiro | 420000
Fevereiro | 260000
Março | 310000

### A tabela a seguir, por outro lado, apresenta o faturamento dessa mesma empresa no primeiro trimestre do ano de 2019.

Mês | Faturamento
:---|:----------- 
Janeiro | 290000
Fevereiro | 275000
Março | 442000

### Com base nesses dados, crie dois DataFrames com os dados dessas duas tabelas. Em seguida, utilize o método merge para juntar esses dois DataFrames, de modo que o novo DataFrame tenha apenas três colunas: o mês, o faturamento em 2018 e o faturamento em 2019.

In [4]:
import pandas as pd

In [8]:

dados2018 ={
    'Mês': ['Janeiro', 'Fevereiro', 'Março'],
    'Faturamento 2018': [420000, 260000, 310000]
}

dados2019 ={
    'Mês': ['Janeiro', 'Fevereiro', 'Março'],
    'Faturamento 2019': [290000, 275000, 442000]
}

In [9]:
df1 = pd.DataFrame(dados2018)
df1

         Mês  Faturamento 2018
0    Janeiro            420000
1  Fevereiro            260000
2      Março            310000

In [10]:
df2 = pd.DataFrame(dados2019)
df2

         Mês  Faturamento 2019
0    Janeiro            290000
1  Fevereiro            275000
2      Março            442000

In [11]:
final = df1.merge(df2, how='inner', on='Mês')

In [12]:
final.head()

         Mês  Faturamento 2018  Faturamento 2019
0    Janeiro            420000            290000
1  Fevereiro            260000            275000
2      Março            310000            442000

# Feedback - 1

import pandas as pd

dados_2018 = {'Mês': ['Janeiro', 'Fevereiro', 'Março'], 'Faturamento': [420000, 260000, 310000]}

dados_2019 = {'Mês': ['Janeiro', 'Fevereiro', 'Março'], 'Faturamento': [290000, 275000, 442000]}

df1 = pd.DataFrame(dados_2018)
df2 = pd.DataFrame(dados_2019)

df1.merge(df2, on='Mês', suffixes=('_2018', '_2019'), how='inner')

# Note que foi utilizado um parâmetro chamado suffixes, no qual você pode definir qual sufixo você quer nas colunas
# que você está unindo. Por padrão, fica _x e _y, porém, decidimos definir _2018 e _2019 para ficar mais intuitivo.

### 2. O arquivo empresas-avaliacao-porte.xlsx consiste em uma planilha que contém duas folhas (sheets). A primeira (Avaliação) contém o CNPJ das empresas e a sua respectiva avaliação, enquanto a segunda contém o CNPJ da empresa e o seu respectivo porte. Carregue esses dois sheets em dois DataFrames distintos e una-os pelo CNPJ, utilizando o método merge.

In [15]:
df_f1 = pd.read_excel('empresas-avaliacao-porte.xlsx', sheet_name = 0)
df_f2 = pd.read_excel('empresas-avaliacao-porte.xlsx', sheet_name = 1)

In [25]:
df = df_f1.merge(df_f2, how='inner', on='CNPJ')

In [26]:
df.head()

,CNPJ,Avaliação,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Porte
0,60778415095338,3.60,NaN,NaN,NaN,NaN,Média
1,61947862580395,4.59,NaN,NaN,NaN,NaN,Pequena
2,91288513797098,4.46,NaN,NaN,NaN,NaN,Pequena
3,91288513797098,4.74,NaN,NaN,NaN,NaN,Pequena
4,24396464477220,3.79,NaN,NaN,NaN,NaN,Média

# Feedback - 1
df1 = pd.read_excel('datasets/empresas-avaliacao-porte.xlsx', sheet_name='Avaliação')

df2 = pd.read_excel('datasets/empresas-avaliacao-porte.xlsx', sheet_name='Porte')

df1.merge(df2, on='CNPJ', how='inner')