In [3]:
import pandas as pd;

In [2]:
ss = pd.Series([8,3,5,10])

In [3]:
ss > 5

0     True
1    False
2    False
3     True
dtype: bool

In [4]:
s1 = pd.Series([8,3,5,10])
s2 = pd.Series([3, 9, 7, 6])

s1 > s2

0     True
1    False
2    False
3     True
dtype: bool

#### Mascara que pega apenas os valores acima de 5

In [5]:
ss = pd.Series([8,3,5,10])

In [6]:
mask_acima_5 = ss > 5

In [8]:
acima_5 = ss[mask_acima_5]

In [9]:
acima_5

0     8
3    10
dtype: int64

#### Os conectivos em 'series' são substituidos
AND por &
OR por |
NOT por ~

## ------------------------------------------------EXERCICIOS---------------------------------------------------------------

### 1. Considere 10 (dez) empresas (A, B, C, D, E, F, G, H, I e J) que possuem um número de funcionários que é apresentado na tabela abaixo:

Empresa | Número de Funcionários
:-------|:----------------------
A | 141
B | 640
C | 131
D | 582
E | 475
F | 511
G | 641
H | 58
I | 690
J | 23

### Considerando os dados acima e, também, a classificação do porte da empresa pelo número de funcionários, feita pelo IBGE (relembre essa classificação na tabela abaixo), obtenha uma Series que contenha apenas as empresas de grande porte.

Tamanho da Empresa | Número de Funcionários
:------------------|:----------------------
Micro | até 19
Pequena | 20 a 99
Média | 100 a 499
Grande | 500 ou mais

In [4]:
emp = pd.Series(data=[141, 640, 131, 582, 475, 511, 641, 58, 690, 23], index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

mask_grande = emp >= 500
grande = emp[mask_grande]
grande

B    640
D    582
F    511
G    641
I    690
dtype: int64

#### Feedback - Questão 1
#import pandas as pd

s = pd.Series(data=[141, 640, 131, 582, 475, 511, 641, 58, 690, 23], index='A B C D E F G H I J'.split())

s[s > 500]

### 2. Para os dados da questão 1, obtenha uma Series que contenha as empresas de pequeno porte, e outra que contenha as empresas de médio porte.

In [5]:
emp = pd.Series(data=[141, 640, 131, 582, 475, 511, 641, 58, 690, 23], index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

mask_pequeno = (emp > 19) & (emp < 100)
pequeno = emp[mask_pequeno]

mask_medio = (emp > 99) & (emp < 500)
medio = emp[mask_medio]

pequeno, medio

(H    58
 J    23
 dtype: int64,
 A    141
 C    131
 E    475
 dtype: int64)

#### Feedback - Questão 2
print('PEQUENO PORTE')
print(s[(s >= 20) & (s <= 99)])

print('\nMÉDIO PORTE')
print(s[(s >= 100) & (s < 500)])

### 3. De acordo com o Censo de 2010, o PIB médio do estado de Minas Gerais é, aproximadamente, R 336523,00. A tabela abaixo apresenta o PIB de algumas cidades desse estados. Considerando o valor médio mencionado anteriormente, crie uma Series com os dados da tabela abaixo e obtenha as cidades que apresentam um PIB superior à media, utilizando o conceito de máscaras.

Cidada | PIB
:------|:----
Uberlândia | 16165950
Paraguaçu | 208498
Belo Horizonte | 44595200
Ouro Fino | 342506
Itatiaiuçu | 329979

In [6]:
cid = pd.Series(
    data=[16165950, 208498, 44595200, 342506, 329979], 
    index=['Uberlândia', 'Paraguaçu', 'Belo Horizonte', 'Ouro Fino', 'Itatiaiuçu'])
mask_media = (cid > 336523) 
media = cid[mask_media]

media

Uberlândia        16165950
Belo Horizonte    44595200
Ouro Fino           342506
dtype: int64

#### Feedback - Questão 3
s = pd.Series(
data=[16165950, 208498, 44595200, 342506, 329979], index=['Uberlândia', 'Paraguaçu', 'Belo Horizonte', 'Ouro Fino', 'Itatiaiuçu'])

s[s > 336523]

### 4. Uma empresa vende 59 produtos diferentes em sua loja. Cada um desses produtos é avaliado pelos clientes (em uma escala que varia de 1 a 5 estrelas) e, com isso, é gerada uma avaliação média de cada um desses produtos. 

### A empresa deseja avaliar com mais detalhes os comentários dos produtos que estão abaixo da média global, ou seja, os produtos que estão abaixo da média da avaliação de todos os produtos da loja. Considerando que você possui a avaliação média de cada produto, obtenha uma lista dos produtos cujos comentários precisarão ser avaliados com mais detalhes.

### Dica: Para facilitar na criação da Series, utilize a lista com a média das avaliações dos produtos dada abaixo. Além disso, não defina os índices (dessa forma, os índices serão gerados automaticamente, entre 0 e 58).

### [4.83, 4.75, 3.47, 4.56, 4.21, 4.37, 4.29, 2.95, 4.89, 3.55, 4.53, 3.85, 3.08, 3.37, 4.22, 3.91, 4.42, 2.95, 4.37, 3.34, 4.21, 2.99, 4.78, 3.63, 4.34, 3.06, 4.88, 3.86, 4.61, 4.54, 4.2 , 4.13, 3.06, 4.36, 3.75, 3.43, 3.9 , 3.45, 3.41, 3.29, 4.07, 2.8 , 4.01, 4.46, 2.94, 4.14, 4.55, 4.2 , 3.32, 4.74, 4.27, 4.4 , 4.68, 4.37, 4.7 , 3.05, 3.22, 4.45, 2.97]

In [7]:
ava = pd.Series([4.83, 4.75, 3.47, 4.56, 4.21, 4.37, 4.29, 2.95, 4.89, 3.55, 4.53, 3.85, 3.08, 3.37, 4.22, 3.91, 4.42, 2.95, 4.37, 3.34, 4.21, 2.99, 4.78, 3.63, 4.34, 3.06, 4.88, 3.86, 4.61, 4.54, 4.2 , 4.13, 3.06, 4.36, 3.75, 3.43, 3.9 , 3.45, 3.41, 3.29, 4.07, 2.8 , 4.01, 4.46, 2.94, 4.14, 4.55, 4.2 , 3.32, 4.74, 4.27, 4.4 , 4.68, 4.37, 4.7 , 3.05, 3.22, 4.45, 2.97])
media = ava.mean()
mask_med = ava < media
m = ava[mask_med]
m

2     3.47
7     2.95
9     3.55
11    3.85
12    3.08
13    3.37
15    3.91
17    2.95
19    3.34
21    2.99
23    3.63
25    3.06
27    3.86
32    3.06
34    3.75
35    3.43
36    3.90
37    3.45
38    3.41
39    3.29
41    2.80
44    2.94
48    3.32
55    3.05
56    3.22
58    2.97
dtype: float64

#### Feedback - Questão 4
#import pandas as pd

s = pd.Series(data=[4.83, 4.75, 3.47, 4.56, 4.21, 4.37, 4.29, 2.95, 4.89, 3.55, 4.53, 3.85, 3.08, 3.37, 4.22, 3.91, 4.42, 2.95, 4.37, 3.34, 4.21, 2.99, 4.78, 3.63, 4.34, 3.06, 4.88, 3.86, 4.61, 4.54, 4.2 , 4.13, 3.06, 4.36, 3.75, 3.43, 3.9 , 3.45, 3.41, 3.29, 4.07, 2.8 , 4.01, 4.46, 2.94, 4.14, 4.55, 4.2 , 3.32, 4.74, 4.27, 4.4 , 4.68, 4.37, 4.7 , 3.05, 3.22, 4.45, 2.97])

s[s < s.mean()].index