In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#engine = create_engine('postgresql://nomeusuario:senhausuario@nomeservidor:portaservidor/nomebanco')
conn = create_engine('postgresql://postgres:151322@localhost:5432/postgres')

In [3]:
query = "SELECT * FROM startup"

In [4]:
df = pd.read_sql(query, conn)

In [5]:
df.groupby('industria_vertical').count()

,id,nome,sub_industria_vertical,cidade_id
industria_vertical,,,,
360-degree view creating platform,1,1,0,1
3D Printer Manufacturer,1,1,0,1
AI,1,1,1,1
API Workflow platform,1,1,0,1
Accounting,1,1,1,1
...,...,...,...,...
solar products and services marketplace,1,1,0,1
us ticketing and fleet management platform,1,1,0,1
usiness expense management,1,1,0,1
"virtual reality, 3d simulation and stereoscopic products",1,1,0,1
visual search and discovery platform,1,1,0,1

In [6]:
df2 = pd.read_sql('SELECT * FROM investimento', conn)

In [7]:
df2['data_realizada'] = pd.to_datetime(df2['data_realizada'], errors='coerce')

In [8]:
df2 = df2.set_index('data_realizada')

In [9]:
df2.head()

                id  startup_id  investidor_id        valor   obs
data_realizada
2020-01-09       1           1            1.0  200000000.0  None
2020-01-13       2           2            2.0    8048394.0  None
2020-01-09       3           3            3.0   18358860.0  None
2020-01-02       4           4            4.0    3000000.0  None
2020-01-02       5           5            5.0    1800000.0  None

In [10]:
df2.groupby(pd.Grouper(freq = 'M'))['valor'].mean()

data_realizada
2015-01-31    9.254294e+06
2015-02-28    9.387205e+06
2015-03-31    9.858021e+06
2015-04-30    1.886538e+07
2015-05-31    7.413295e+06
                  ...
2019-09-30    5.586667e+07
2019-10-31    3.150000e+08
2019-11-30    1.473427e+08
2019-12-31    4.769000e+07
2020-01-31    5.574389e+07
Name: valor, Length: 61, dtype: float64