##### Junção de DataFrames I

In [1]:
import pandas as pd

In [ ]:
# Leitura de arquivos
titanic_teste = pd.read_csv('test.csv')
titanic_train = pd.read_csv('train.csv')

In [ ]:
# CONCATENAÇÃO VERTICAL
# Concatenação dos dataframes
titanic = pd.concat([titanic_train, titanic_test])
titanic.info()
titanic_test.info()
titanic_train.info()

In [ ]:
# get_dummies função que transforma dados categorigos(geralmente textuais) em númeross 
# Essa função retorna um novo dataframe que possui esses dados transformados
male_famale = pd.get_dummies(titanic.Sex)

In [ ]:
male_famale.head()

In [ ]:
# Concatenação dos dataframes
# parametro axis para juntar a transformação do sexo com o dataframe original

titanic_total = pd.concat([titanic, male_female], axis=1)

In [ ]:
titanic_total.head()

## ------------------------------------------------EXERCICIOS---------------------------------------------------------------

### 1. O arquivo faturamento.xlsx consiste em uma planilha que contém o faturamento de uma empresa no primeiro e segundo trimestres do ano passado. Cada trimestre está em uma sheet (folha) diferente da planilha. Sendo assim, carregue essas informações em dois DataFrames diferentes, utilizando a função read_excel. Em seguida, você deve juntar os dois DataFrames com a função concat, vista durante a aula. Por fim, calcule o faturamento total da empresa no primeiro semestre e o faturamento médio nesse mesmo período.

In [7]:
faturamento1 = pd.read_excel("faturamento.xlsx", sheet_name = 0)
faturamento2 = pd.read_excel("faturamento.xlsx", sheet_name = 1)

In [4]:
faturamento_total = pd.concat([faturamento1, faturamento2])

In [5]:
faturamento_total.sum()

Mês            JaneiroFevereiroMarçoAbrilMaioJunho
Faturamento                                1997000
dtype: object

In [6]:
faturamento_total.mean()

Faturamento    332833.333333
dtype: float64

## - Feedback - 1
import pandas as pd

df_f1 = pd.read_excel('datasets/faturamento.xlsx', sheet_name='Primeiro Trimestre')
df_f1

df_f2 = pd.read_excel('datasets/faturamento.xlsx', sheet_name='Segundo Trimestre')
df_f2

df = pd.concat([df_f1, df_f2])
df

df['Faturamento'].sum()

df['Faturamento'].mean()

### 2. O arquivo avocado.csv consiste em um dataset que contém dados sobre vendas de abacates (avocado, em inglês) em diversas regiões dos Estados Unidos. Essa dataset contém as seguintes colunas:

- Date - a data da observação
- AveragePrice - o preço médio de um único abacate
- year - o ano
- region - a cidade ou região da observação
- Total Volume - volume total de abacates vendidos

### Além das informações acima, contidas no arquivo avocado.csv, o tipo do abacate (convencional ou orgânico) também seria uma informação importante para a sua análise. Você conseguiu essas informações para cada uma das observações do arquivo avocado.csv, na mesma ordem, e salvou-as no arquivo avocado_type.csv. Portanto, tudo o que você precisa é carregar cada um desses arquivos em um DataFrame e concatenar eles utilizando a função concat.

In [8]:
avo = pd.read_csv('avocado.csv')
avo_type = pd.read_csv('avocado_type.csv')

In [9]:
avo_total = pd.concat([avo, avo_type], axis=1)
avo_total

,Date,AveragePrice,Total Volume,year,region,type
0,2015-12-27,1.33,64236.62,2015,Albany,conventional
1,2015-12-20,1.35,54876.98,2015,Albany,conventional
2,2015-12-13,0.93,118220.22,2015,Albany,conventional
3,2015-12-06,1.08,78992.15,2015,Albany,conventional
4,2015-11-29,1.28,51039.60,2015,Albany,conventional
...,...,...,...,...,...,...
18244,2018-02-04,1.63,17074.83,2018,WestTexNewMexico,organic
18245,2018-01-28,1.71,13888.04,2018,WestTexNewMexico,organic
18246,2018-01-21,1.87,13766.76,2018,WestTexNewMexico,organic
18247,2018-01-14,1.93,16205.22,2018,WestTexNewMexico,organic
18248,2018-01-07,1.62,17489.58,2018,WestTexNewMexico,organic

# Feedback - 2
df_avocado = pd.read_csv('datasets/avocado.csv')
df_type = pd.read_csv('datasets/avocado_type.csv')

pd.concat([df, df_type], axis=1)