In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [8]:
conn = create_engine('postgresql://postgres:151322@localhost:5432/postgres')

In [13]:
startups = pd.read_sql('SELECT * FROM startup', conn)
startups

,id,nome,industria_vertical,sub_industria_vertical,cidade_id
0,1,BYJU’S,E-Tech,E-learning,1.0
1,2,Shuttl,Transportation,App based shuttle service,2.0
2,3,Mamaearth,E-commerce,Retailer of baby and toddler products,1.0
3,4,https://www.wealthbucket.in/,FinTech,Online Investment,3.0
4,5,Fashor,Fashion and Apparel,Embroiled Clothes For Women,4.0
...,...,...,...,...,...
3039,3040,Printvenue,None,None,NaN
3040,3041,Graphene,None,None,NaN
3041,3042,Mad Street Den,None,None,NaN
3042,3043,Simplotel,None,None,NaN
3043,3044,couponmachine.in,None,None,NaN

In [14]:
#agrupa valores e retorna uma serie com a contagem de cada um dos valores encontrados
startups['industria_vertical'].value_counts()

Consumer Internet                            941
Technology                                   478
eCommerce                                    186
Healthcare                                    70
Finance                                       62
                                            ...
Online Curated Holiday package bookings        1
Online printing marketplace                    1
Artificial Intelligence Ecommerce Chatbot      1
Home Design & D\\xc3\\xa9cor solutions         1
ECommerce platform solutions                   1
Name: industria_vertical, Length: 821, dtype: int64

In [19]:
# copia do dataframe
startups_fake = startups.copy()
startups_fake = pd.concat([startups_fake, startups.iloc[[63]], startups.iloc[[82]]])

In [20]:
startups_fake.shape

(3046, 5)

In [22]:
startups_fake.drop_duplicates().shape

(3044, 5)

## ------------------------------------------------EXERCICIOS---------------------------------------------------------------

### 1. O arquivo investments_VC.csv consiste em um dataset que contém informações sobre diversas startups, como nome, website, dentre outras; além de investimentos que foram aplicados a essas startups. Esse arquivo já foi utilizado anteriormente, lembra?
### Dessa vez, iremos fazer algo direrente com ele. Primeiramente, você deve carregar os dados desse arquivo em um DataFrame. Após isso, utilize o método value_counts para visualizar a quantidade de startups que estão em cada um dos mercados. Em outras palavras, aplique esse método à coluna market, visto que essa contém a informação do mercado em que a startup atua. Além disso, verifique qual é o mercado que mais aparece entre as startups.

In [26]:
df = pd.read_csv('investments_VC.csv')
df['market'].value_counts()

 Software               4620
 Biotechnology          3688
 Mobile                 1983
 E-Commerce             1805
 Curated Web            1655
                        ...
 Social Media Agent        1
 Wind                      1
 Cable                     1
 Biofuels                  1
 Custom Retail             1
Name: market, Length: 753, dtype: int64

#### Feedback
import pandas as pd

df = pd.read_csv('datasets/investments_VC.csv')

df['market'].value_counts()

#### Você irá observar que o mercado que mais aparece entre as startups será o mercado de Software

### 2. Utilizando o mesmo dataset da questão anterior, o que você acha de verificar se existem dados duplicados no DataFrame? Para isso, primeiramente, veja o tamanho (número de linhas) do seu DataFrame. Você pode fazer isso utilizando o método info, lembra? (Na sua linha do retorno desse método, RangeIndex)

### Em seguida, utilize o método drop_duplicates para remover as linhas duplicadas e observe se o número de linhas do DataFrame diminuiu.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54294 entries, 0 to 54293
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   permalink             49438 non-null  object
 1   name                  49437 non-null  object
 2   homepage_url          45989 non-null  object
 3   category_list         45477 non-null  object
 4   market                45470 non-null  object
 5    funding_total_usd    49438 non-null  object
 6   status                48124 non-null  object
 7   country_code          44165 non-null  object
 8   state_code            30161 non-null  object
 9   region                44165 non-null  object
 10  city                  43322 non-null  object
 11  funding_rounds        49438 non-null  float64
 12  founded_at            38554 non-null  object
 13  founded_month         38482 non-null  object
 14  founded_quarter       38482 non-null  object
 15  founded_year          38482 non-null  float64
 16  first_funding_at      49438 non-null  object
 17  last_funding_at       49438 non-null  object
 18  seed                  49438 non-null  float64
 19  venture               49438 non-null  float64
 20  equity_crowdfunding   49438 non-null  float64
 21  undisclosed           49438 non-null  float64
 22  convertible_note      49438 non-null  float64
 23  debt_financing        49438 non-null  float64
 24  angel                 49438 non-null  float64
 25  grant                 49438 non-null  float64
 26  private_equity        49438 non-null  float64
 27  post_ipo_equity       49438 non-null  float64
 28  post_ipo_debt         49438 non-null  float64
 29  secondary_market      49438 non-null  float64
 30  product_crowdfunding  49438 non-null  float64
 31  round_A               49438 non-null  float64
 32  round_B               49438 non-null  float64
 33  round_C               49438 non-null  float64
 34  round_D               49438 non-null  float64
 35  round_E               49438 non-null  float64
 36  round_F               49438 non-null  float64
 37  round_G               49438 non-null  float64
 38  round_H               49438 non-null  float64
dtypes: float64(23), object(16)
memory usage: 16.2+ MB

In [31]:
df_c = df.copy()

In [32]:
df_c.shape

(54294, 39)

In [33]:
df_c.drop_duplicates().shape

(49439, 39)

#### Feedback
df.info()

df.drop_duplicates()

### 3. O arquivo hotel_bookings.csv consiste em um dataset que contém informações de reserva de um hotel urbano e de um resort e inclui informações, tais como: o nome do hotel/resort, quando a reserva foi feita, duração da estadia, número de adultos, crianças e/ou bebês e número de vagas disponíveis, dentre outras.

### Sabendo disso, carregue os dados do arquivo supracitado em um DataFrame e verifique a quantidade de reservas que são destinadas ao hotel e quantas são destinadas ao resort, utilizando o método value_counts.

In [37]:
df_hotel = pd.read_csv('hotel_bookings.csv')
df_hotel['hotel'].value_counts()

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

#### Feedback
df = pd.read_csv('datasets/hotel_bookings.csv')

df['hotel'].value_counts()

### 4. Utilizando o mesmo dataset da questão anterior, o que você acha de verificar se existem dados duplicados no DataFrame? Para isso, primeiramente, veja o tamanho (número de linhas) do seu DataFrame. Você pode fazer isso utilizando o método info, lembra? (Na sua linha do retorno desse método, RangeIndex)

### Em seguida, utilize o método drop_duplicates para remover as linhas duplicadas e observe se o número de linhas do DataFrame diminuiu.

In [38]:
df_hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [39]:
df_hotel.drop_duplicates().shape

(87396, 32)

#### Feedback
df.info()

df.drop_duplicates()