In [1]:
import pandas as pd

In [3]:
s1 = pd.Series([5, 2, 7])
s2 = pd.Series([6, 3, 4, 9])

print(s1+s2)

0    11.0
1     5.0
2    11.0
3     NaN
dtype: float64

In [6]:
s1 = pd.Series(['Google', 'Revista Exame', 'Let\'s Code'])
s2 = pd.Series(['Facebook', 'Nasa', 'Let\'s Code'])

In [7]:
print(s1-s2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [8]:
ss = pd.Series({'x':10, 'y':20, 'z':30})

In [9]:
ss.iloc[1]

20

In [10]:
ss.loc['y']

20

In [11]:
ss.sum()

60

In [12]:
ss.max()

30

In [13]:
ss.min()

10

In [14]:
ss.mean()

20.0

## ------------------------------------------------EXERCICIOS---------------------------------------------------------------

### 1. Considere três empresas (A, B e C) que até o início do ano possuíam 7, 35 e 59 funcionários, respectivamente. No mês de maio, as três empresas haviam crescido e, portanto, ampliaram o seu quadro de funcionários. A empresa A somou mais 5 funcionários; a empresa B mais 14, e a empresa C, mais 16. Esse cenário é apresentado na tabela abaixo:

Empresa | Início do ano | Maio
:-------|:--------------|:-----
A | 7 | 5
B | 35 | 14
C | 59 | 16

### Considerando esse cenário, crie um objeto Series que contenha o número de funcionários de cada uma das empresas no início do ano, e outro que contenha o acréscimo de funcionários no mês de maio. Por fim, obtenha uma Series que contenho o número total de funcionários em cada empresa no mês de maio.

In [1]:
import pandas as pd

In [2]:
fi = pd.Series([7, 35, 59], index=['A', 'B', 'C'])
fm = pd.Series([5, 14, 16], index=['A', 'B', 'C'])

print(fi+fm)

A    12
B    49
C    75
dtype: int64

#### Feedback - Questão 1

import pandas as pd

s1 = pd.Series([7, 35, 59], index='A B C'.split())

s2 = pd.Series([5, 14, 16], index='A B C'.split())

s1 + s2

### 2. A tabela abaixo apresenta os quatro países com os maiores números de casos confirmados de COVID-19, incluindo o número total de casos em cada um deles nos dias 21/05 e 22/05:

País | Total de Casos Confirmados 21/05 | Total de Casos Confirmados 22/05
:----|:---------------------------------|:--------------------------------
Estados Unidos | 1620902 | 1649081
Rússia         |	317554 | 326403
Brasil         |	310921 | 328485
Espanha        |	280117 | 280710

### Com base nesses dados, crie dois objetos Series: o primeiro com o total de casos no dia 21/05 e o outro com o número total de casos no dia 22/05. Em seguida, obtenha uma Series que contenha a quantidade de novos casos entre esses dois dias.

In [3]:
c1 = pd.Series([1620902, 317554, 310921, 280117], index=['Estados Unidos', 'Rússia', 'Brasil', 'Espanha'])
c2 = pd.Series([1649081, 326403, 328485, 280710], index=['Estados Unidos', 'Rússia', 'Brasil', 'Espanha'])

print(c2-c1)

Estados Unidos    28179
Rússia             8849
Brasil            17564
Espanha             593
dtype: int64

#### Feedback - Questão 2

s1 = pd.Series([1620902, 317554, 310921, 280117], index=['Estados Unidos', 'Rússia', 'Brasil', 'Espanha'])

s2 = pd.Series([1649081, 326403, 328485, 280710], index=['Estados Unidos', 'Rússia', 'Brasil', 'Espanha'])

s2 - s1

### 3. O salário bruto de cinco funcionários de uma empresa de tecnologia, que são apresentados pelo cargo que exercem na mesma, são apresentados na tabela abaixo. Além do salário bruto, a tabela também dispõe do percentual que deve ser descontado do salário de cada um deles, referente ao imposto do INSS.

Cargo | Salário Bruto | INSS
:-----|:--------------|:-----
Cientista de Dados | R$ 6.101,00 | 14%
Analista de Redes de Computadores | R$ 2.964,00 | 12%
Desenvolvedor de Banco de Dados | R$ 4.185,00 | 14%
Programador Trainee | R$ 1.511,00 | 9% |
Administrador de Segurança de Dados | R$ 4.060,00 | 14%

### Com base nessas informações obtenha uma Series que contenha o valor, em reais, que será descontado do salário bruto de cada um desses funcionários, referente ao INSS.

In [4]:
salario = pd.Series([6101, 2964, 4185, 1511, 4060], dtype=("float"), index=['Cientista de Dados', 'Analista de Redes de Computadores', 'Desenvolvedor de Banco de Dados', 'Programador Trainee', 'Administrador de Segurança de Dados'])
inss = pd.Series([0.14, 0.12, 0.14, 0.09, 0.14], dtype=("float"), index=['Cientista de Dados', 'Analista de Redes de Computadores', 'Desenvolvedor de Banco de Dados', 'Programador Trainee', 'Administrador de Segurança de Dados'])

desconto = salario * inss

print(desconto)

Cientista de Dados                     854.14
Analista de Redes de Computadores      355.68
Desenvolvedor de Banco de Dados        585.90
Programador Trainee                    135.99
Administrador de Segurança de Dados    568.40
dtype: float64

#### Feedback - Questão 3
s1 = pd.Series([6101, 2964, 4185, 1511, 4060], index=['Cientista de dados', 'Analista de Redes de Computadores', 'Desenvolvedor de banco de dados', 'Programador Trainee', 'Administrador de segurança de dados'])

s2 = pd.Series([0.14, 0.12, 0.14, 0.09, 0.14], index=['Cientista de dados', 'Analista de Redes de Computadores', 'Desenvolvedor de banco de dados', 'Programador Trainee', 'Administrador de segurança de dados'])

s1 * s2

### 4. A tabela a seguir apresenta o faturamento de uma empresa no primeiro semestre do ano de 2019:

Mês | Faturamento
:---|:------------
Janeiro | 420000
Fevereiro | 260000
Março | 310000
Abril | 290000
Maio | 275000
Junho | 442000

### Com base nos dados da tabela acima, crie uma Series que contenha o faturamento da empresa nesse primeiro semestre de 2019 e, em seguida, obtenha o faturamento mensal mínino e máximo, e o faturamento médio nesse período.

### Dica: Utilize os métodos min, max e mean para obter esses valores.

In [5]:
fat = pd.Series([420000, 260000, 310000, 290000, 275000, 442000])

print("Faturamento mensal mínimo: " + str(fat.min()))
print("Faturamento mensal máximo: " + str(fat.max()))
print("Faturamento médio: " + str(fat.mean()))

Faturamento mensal mínimo: 260000
Faturamento mensal máximo: 442000
Faturamento médio: 332833.3333333333

In [6]:
#### Feedback
s = pd.Series(data=[420000, 260000, 310000, 290000, 275000, 442000], index=['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho'])

print('Faturamento mensal mínimo:', s.min())
print('Faturamento mensal máximo:', s.max())
print('Faturamento médio:', s.mean())

Faturamento mensal mínimo: 260000
Faturamento mensal máximo: 442000
Faturamento médio: 332833.3333333333