In [4]:
import pandas as pd

In [2]:
investimentos = pd.read_csv('investimento.csv')
investimentos.head()

,id,startup_id,startup,valor,data_realizada,obs,investidor_id
0,1,1,BYJU’S,200000000.0,2020-01-09,NaN,1.0
1,2,2,Shuttl,8048394.0,2020-01-13,NaN,2.0
2,3,3,Mamaearth,18358860.0,2020-01-09,NaN,3.0
3,4,4,https://www.wealthbucket.in/,3000000.0,2020-01-02,NaN,4.0
4,5,5,Fashor,1800000.0,2020-01-02,NaN,5.0

In [38]:
investimentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3044 non-null   int64
 1   startup_id      3044 non-null   int64
 2   startup         3044 non-null   object
 3   valor           2065 non-null   float64
 4   data_realizada  3044 non-null   object
 5   obs             419 non-null    object
 6   investidor_id   3020 non-null   float64
 7   maior_100k      3044 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 190.4+ KB

# não conseguir testar a linha de comando a baixo
#### Para resolver esse problema utilizei 
    errors='coerce'
#### Para forçar a alteração

In [43]:
# transforma tipo de dado da coluna

investimentos['data_realizada'] = pd.to_datetime(investimentos['data_realizada'], format='%d/%m/%Y', errors='coerce')
investimentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3044 non-null   int64
 1   startup_id      3044 non-null   int64
 2   startup         3044 non-null   object
 3   valor           2065 non-null   float64
 4   data_realizada  0 non-null      datetime64[ns]
 5   obs             419 non-null    object
 6   investidor_id   3020 non-null   float64
 7   maior_100k      3044 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 190.4+ KB

# não conseguir testar a linha de comando a baixo

In [44]:
#função para remoção das virgulas para tratar valores(float)

def to_number(string):
    string = string.replace(',','')
    number = float(string)
    return number

In [46]:
#usando a função to_number
#investimentos['valor'] = investimentos['valor'].apply(to_number)

In [16]:
investimentos.head()

,id,startup_id,startup,valor,data_realizada,obs,investidor_id
0,1,1,BYJU’S,200000000.0,2020-01-09,NaN,1.0
1,2,2,Shuttl,8048394.0,2020-01-13,NaN,2.0
2,3,3,Mamaearth,18358860.0,2020-01-09,NaN,3.0
3,4,4,https://www.wealthbucket.in/,3000000.0,2020-01-02,NaN,4.0
4,5,5,Fashor,1800000.0,2020-01-02,NaN,5.0

In [47]:
investimentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3044 non-null   int64
 1   startup_id      3044 non-null   int64
 2   startup         3044 non-null   object
 3   valor           2065 non-null   float64
 4   data_realizada  0 non-null      datetime64[ns]
 5   obs             419 non-null    object
 6   investidor_id   3020 non-null   float64
 7   maior_100k      3044 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 190.4+ KB

In [13]:
#função para inserir uma coluna com flag  que diz se o investimento 
#é maior que 100mil

def maior_100k(valor):
    if valor > 1000000:
        return 1
    else:
        return 0

In [23]:
investimentos['maior_100k'] = 0

In [33]:
#criação de nova coluna 'maior_100k'
investimentos['maior_100k'] = investimentos['valor'].apply(maior_100k)

In [35]:
investimentos

,id,startup_id,startup,valor,data_realizada,obs,investidor_id,maior_100k
0,1,1,BYJU’S,200000000.0,2020-01-09,NaN,1.0,1
1,2,2,Shuttl,8048394.0,2020-01-13,NaN,2.0,1
2,3,3,Mamaearth,18358860.0,2020-01-09,NaN,3.0,1
3,4,4,https://www.wealthbucket.in/,3000000.0,2020-01-02,NaN,4.0,1
4,5,5,Fashor,1800000.0,2020-01-02,NaN,5.0,1
...,...,...,...,...,...,...,...,...
3039,3040,3040,Printvenue,4500000.0,2015-01-29,NaN,2410.0,1
3040,3041,3041,Graphene,825000.0,2015-01-29,Govt backed VC Fund,2411.0,0
3041,3042,158,Mad Street Den,1500000.0,2015-01-30,NaN,2412.0,1
3042,3043,3043,Simplotel,NaN,2015-01-30,"Strategic Funding, Minority stake",199.0,0
3043,3044,3044,couponmachine.in,140000.0,2015-01-31,NaN,2413.0,0

## ------------------------------------------------EXERCICIOS---------------------------------------------------------------

### 1. Carregue os dados do arquivo HIST_PAINEL_COVIDBR_23mai2020.xlsx, que contém os dados da COVID-19 nos estados/munícipios do Brasil, em um DataFrame. Em seguida, utilize o método info para verificar o tipo de dado da coluna data. Fazendo isso, você irá notar que o tipo é object, ou seja, trata-se de uma string. Portanto, você deve alterar para o tipo datatime.
### No entanto, vamos deixar isso para a próxima questão. Primeiramente, para isso você possa exercitar esse conceito de transformação de colunas, substitua o traço da data pela barra. Em outras palavras, você vai converter de 2020-02-26 para 2020/02/26. Para isso, você deve criar uma função que recebe uma data e retorna essa mesma data com essa substituição (replace). Em seguida, você deve aplicar essa função à coluna data do DataFrame.

In [2]:
df_covid = pd.read_excel('HIST_PAINEL_COVIDBR_23mai2020.xlsx')
df_covid.info()

#### Feedback
def traco_barra(data):
....return data.replace('-', '/')

import pandas as pd

df_covid = pd.read_excel('datasets/HIST_PAINEL_COVIDBR_23mai2020.xlsx')

df_covid['data'] = df_covid['data'].apply(traco_barra)

df_covid.head()

### 2. Pronto! Agora que você alterou o formato da data, você deve convertê-la do tipo string para o tipo datatime, assim como você apresentado na Aula 10. Mas observe que, nesse caso, a data está invertida, ou seja, primeiro temos o ano, depois o mês e, por fim, o dia. Logo, você deve utilizar o parâmetro format='%Y/%m/%d'.

In [5]:
df_passos = pd.read_excel('passos.xlsx')
df_passos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    5 non-null      object
 1   passos  5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [6]:
df_passos['data'] = pd.to_datetime(df_passos['data'], format='%d/%m/%Y', errors='coerce')
df_passos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    5 non-null      datetime64[ns]
 1   passos  5 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 208.0 bytes

#### Feedback
df_passos = pd.read_excel('datasets/passos.xlsx')

df_passos['data'] = pd.to_datetime(df_passos['data'], format='%d/%m/%Y')

df_passos.info()

### 4. Agora, utilizando o mesmo dataframe da questão anterior, você deve indicar se o indivíduo atingiu a sua meta de número de passos diário. Considere que a meta dele é de 4500 passos por dia. Sendo assim, crie uma função que analise a quantidade de passos e retorne 'sim', caso ele tenha alcançado a meta e 'não' caso contrário. Por fim, aplique essa função à coluna passos do DataFrame.¶

In [7]:
def passos_alcancados(passos):
    if passos > 4500:
        return 'Sim'
    else:
        return 'Não'

In [8]:
#df_passos['passos'] = df_passos['passos'].apply(passos_alcancados)
df_passos

        data  passos
0 2020-06-01    4216
1 2021-06-02    3867
2 2022-06-03    7934
3 2023-06-04    4180
4 2024-06-05    5344

##### Feedback
def meta(passos):
    if (passos >= 4500):
        return 'sim'
    else:
        return 'não'

df_passos['passos'] = df_passos['passos'].apply(meta)

df_passos.head()