In [ ]:
#
for valor in objeto_interavel:
    print(valor)

In [1]:
nomes_de_empresas = ["Revista Exame", "Let's Code", "Google", "Nasa"]

#Exemplo de percorrer uma lista com while

In [ ]:
#Exemplo de percorrer uma lista com while
cont = 0
while cont < len(nomes_de_empresas):
    print(nomes_de_empresas[cont])
    cont = cont+1

#Exemplo de percorrer uma lista com for

In [3]:
#Exemplo de percorrer uma lista com for
for nome in nomes_de_empresas:
    print(nome)

Revista Exame
Let's Code
Google
Nasa

In [4]:
# percorrer com For em Tupla 
nomes_de_empresas = ("Revista Exame", "Let's Code", "Google", "Nasa")

In [5]:
for nome in nomes_de_empresas:
    print(nome)

Revista Exame
Let's Code
Google
Nasa

In [6]:
# percorrer com For em Dicionarios
startup = {
    "nome": "Let's Code",
    "localizacao": "São Paulo",
    "num_funcionarios": "50"
}

In [7]:
for chave in startup:
    print(chave, ",", startup[chave])

nome , Let's Code
localizacao , São Paulo
num_funcionarios , 50

In [8]:
#EXERCICIO FOR I

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in len(10):
    print(i)

TypeError: object of type 'int' has no len()

In [11]:
# Estruturas de Repetição | For - III
nomes_de_empresas = ["Revista Exame", "Let's Code", "Google", "Nasa"]

In [13]:
# usando as funções range() e len()
for idx in range(len(nomes_de_empresas)):
    print(nomes_de_empresas[idx])

Revista Exame
Let's Code
Google
Nasa

In [14]:
for idx in range(len(nomes_de_empresas)):
    print(idx,":",nomes_de_empresas[idx])

0 : Revista Exame
1 : Let's Code
2 : Google
3 : Nasa

In [16]:
for nome in nomes_de_empresas:
    nome = "Let's Code"
    
print(nomes_de_empresas)

['Revista Exame', "Let's Code", 'Google', 'Nasa']

In [18]:
# alterando todos os elementos da lista para "Let's Code"
for idx in range(len(nomes_de_empresas)):
    nomes_de_empresas[idx] =  "Let's Code"
    
print(nomes_de_empresas)

["Let's Code", "Let's Code", "Let's Code", "Let's Code"]

In [27]:
#EXERCICIO FOR II
nomes_empresas1 = ["LET'S CODE", "GOOGLE", "REVISTA EXAME", "NASA"]

In [28]:
for nome in nomes_de_empresas1:
    print(nome.lower())

NameError: name 'nomes_de_empresas1' is not defined

Considerando a lista nomes_empresas1 = ["LET'S CODE", "GOOGLE", "REVISTA EXAME", "NASA"]. seu trabalho é utilizar o for para alterar todos os valores para letras minusculas

In [29]:
empresas = ["LET'S CODE", "GOOGLE", "REVISTA EXAME", "NASA"]

In [30]:
for nome in empresas:
    print(nome.lower())

let's code
google
revista exame
nasa

Considerando a lista numeros = [1, 2, 5, 8, 16, 24, 39, 47, 52, 63]. Seu trabalho é utilizar o for para contar quantos numeros dessa lista são pares e imprimir esse valor.

In [35]:
numeros = [1, 2, 5, 8, 16, 24, 39, 47, 52, 63]

In [37]:
quantidade_par = 0

for valor in numeros:
    if valor%2 == 0:
        quantidade_par += 1

print("Números pares: ", quantidade_par)

Números pares:  5